.patchfiles_ignore/
.idea/
node_modules/

*.patch
*.swp
.env

/.idea
/node_modules
/config.ini
/config/config.ini
/data/output/log.out.txt
/data/gpt_input.txt
/data/output
/data/input
/.env
/config/.env

data/config/repo_config.json

/data/*.json
