
.idea/*
.patchfiles_ignore/*
TaskQueue/.env
*.env
printifyQueue.json
 
backups
chrome-profile
node_modules
uploads
.idea
issues.sqlite
markdown_global.txt

node_modules
.env
.patchfiles_ignore
issues.sqlite
backups
*..env.swp
*.swp
uploads
markdown_global.txt
chrome-profile
